

<div id="toolbar" class="container flex-end">
  <div class="home-title content-center" style="flex: 1">
    <a routerLink="/"  class="content-center-content container">
      <img id="toolbar-logo" class="content-center-content" src="/assets/images/favicon/android-chrome-192x192-black.png" height="32px">
      <h2 class="content-center-content">Democraylist</h2>
    </a>
  </div>

  <div class="user-name content-center">
    <span class="content-center-content">
      <h3>{{user.display_name}}</h3>
    </span>
  </div>
  <div class="user-image" >
    <img class="round-image" src="{{user.images[0].url}}" height="100%">
  </div>
</div>
