
<div class="container">
  <form id="playlist-form" (ngSubmit)="onSubmit()" #playlistForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input pInputText type="text" class="form-control" id="name" required [(ngModel)]="playlist.name" name="name">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input pInputText type="text" class="form-control" id="description" [(ngModel)]="playlist.description" name="description">
    </div>

    <div class="form-group">
      <label for="song_size">Playlist size</label>
      <input pInputText type="number" class="form-control" id="song_size" [(ngModel)]="playlist.song_size" name="song_size">
    </div>

    <button pButton type="submit" id="submit-button" class="btn btn-success" [disabled]="!playlistForm.form.valid" label="Submit"></button>
  </form>
</div>
