
<div class="container">
  <form (ngSubmit)="onSubmit()" #playlistForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" [(ngModel)]="description" name="description">
    </div>

    <div class="form-group">
      <label for="size">Playlist size</label>
      <input type="number" class="form-control" id="size" [(ngModel)]="size" name="description">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!playlistForm.form.valid">Submit</button>
  </form>
</div>
