::ng-deep .ui-table-thead {
  font-size: 0.8em;
}

#stats-table {
  margin-left: -1em;
  margin-right: -1em;
}

th {
  background-image: linear-gradient(#ff4e50 0%, #f9d423 100%) !important;
  border: 0 !important;
}

td {
  border: 0 !important;
  text-align: center;
}

.user-cell {
  font-weight: bold;
}

.stats-user-image {
  padding-right: 0.4em;
}

#toolbar {
  justify-content: space-between;
  height: 1.5em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  //background-color: #4ab5a3;
  color: white;
  background-color: #ff4e50;
}

#toolbar-icon{
  width: 30px;
}

#icon-chevron {
  font-size: 0.7em;
}
