#toolbar {
  justify-content: space-between;
  height: 2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  background-color: #4ab5a3;
  color: white;
}

#toolbar-icon{
  width: 30px;
}

#icon-chevron {
  font-size: 0.7em;
}

#toolbar-playlist-name {
  font-size: 1.2em;
}

.dot-menu {
  width: 20px;
  padding-left: 10px;
  text-align: center;
}
