<div id="toolbar" class="container content-center-content">
  <span id="toolbar-icon" class="content-center content-center-content" routerLink="/">
      <i class="fa fa-chevron-left content-center-content" id="icon-chevron"></i>
      <img class="content-center-content" src="/assets/icons/icon-192x192-black.png" height="16px">
  </span>
  <span id="toolbar-playlist-name" class="content-center-content">{{playlist.name}}</span>
  <div class="dot-menu content-center-content">
    <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
    <i class="fa fa-ellipsis-v menu-show-button" (click)="menu.toggle($event)"></i>
  </div>
</div>
