
<div class="container playlist-summary">
  <div class="container spacer" (click)="showPlaylist()">
    <div>
      <img class="playlist-img" [src]="playlist.image_url || './assets/images/playlistPlaceholder.png'" height="100%" width="48px">
    </div>
    <div class="container column playlist-info">
        <h3 class="no-margin">{{playlist.name}}</h3>
        <p class="no-margin">{{playlist.description}}</p>
    </div>
  </div>
  <div>
    <p class="no-margin">{{playlist.created_by.display_name || playlist.created_by.spotify_id}}<br>
      {{playlist.up_vote_count}} <i class="fa fa-arrow-up up-vote-arrow"></i> {{playlist.tracks_count}} | {{playlist.tracks_submission_count}}
    </p>
  </div>
  <div class="content-center" *ngIf="!my_playlist()">
    <button
      pButton
      *ngIf="!playlist.subscribed"
      class="subscribed-button content-center-content"
      label="Subscribed"
      (click)="subscribed()"></button>
    <button
      pButton
      *ngIf="playlist.subscribed"
      class="subscribed-button content-center-content"
      label="Unsubscribed"
      (click)="unsubscribed()"></button>
  </div>
</div>
