
<div class="container playlist-summary">
  <div class="container spacer" (click)="showPlaylist()">
    <div>
      <img class="playlist-img" [src]="playlist.image_url || './assets/images/playlistPlaceholder.png'" height="64px" width="64px">
    </div>
    <div class="container column playlist-info">
        <h3 class="no-margin playlist-name">{{playlist.name}}</h3>
        <p class="no-margin playlist-description">{{playlist.description}}</p>
    </div>
  </div>
  <div class="playlist-data">
    <p class="no-margin">{{playlist.created_by.display_name || playlist.created_by.spotify_id}}<br>
      {{playlist.tracks_count}}  <i class="fa fa-arrow-up up-vote-arrow"></i> {{playlist.up_vote_count}}
    </p>
  </div>
  <div class="dot-menu">
    <i class="fa fa-ellipsis-v menu-show-button" (click)="sheetComponent.toggle()"></i>
    <app-bottom-sheet #sheetComponent [title]="playlist.name" [menuItems]="menuItems"></app-bottom-sheet>
  </div>
</div>
