
.playlist-summary {
  height: 4em;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 10px;
}

.column {
  flex-direction: column;
}

.playlist-info {
  padding-left: 0.5em;
}

.up-vote-arrow {
  color: limegreen;
  font-size: 0.8em;
}

.subscribed-button {
  margin-left: 1em;
}

.dot-menu {
  margin-left: 0.5em;
}

.menu-show-button {
  width: 1em;
  padding-right: 0.2em;
  padding-left: 0.4em;
}
