
.track-summary {
  height: 6.2em;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 10px;
  min-width: 25em;
}

.arrows {
  margin-right: 0.5em;
  margin-left: 0.5em;
  width: 22px;
}

.vote-count {
  text-align: center;
}

.vote-null {
  color: lightgrey;
}

.voted-up {
  color: limegreen;
}

.voted-down {
  color: orangered;
}

span.icon {
  font-size: 1.5em;
}

.arrow-hover:hover {
  color: grey;
}

.play-button {
  color: whitesmoke;
  position: absolute;
  font-size: 3em;
  //Center for image 72px x 72px
  margin: 12px 15.425px;
  z-index: 2;
}

.album-img {
  position: absolute;
  z-index: 1;
}

.hover-img {
  filter: contrast(40%) blur(1px);
}

.album-img-container {
  width: 72px;
}
