
<div class="container track-summary">
  <div class="album-img-container" (mouseenter)="mouseEnterPlayButton()" (mouseleave)="mouseLeavePlayButton()">
    <i class="fa fa-play-circle-o play-button"
       (click)="playPreview()"
    [ngClass]="{'hidden' : !showPlayButton}"></i>
    <img [src]="track.album.images[2].url"
         class="album-img"
         [ngClass]="{'hover-img' : showPlayButton}"
         height="72px" width="72px">
  </div>

  <div class="arrows">
    <div *ngIf="track.playlist_id"  class="container column">
    <span class="icon vote-null arrow-up"
          [ngClass]="{'voted-up' : track.my_vote == 'up', 'arrow-hover' : track.my_vote != 'up'}"
          (click)="upVote()">
      <i class="fa fa-chevron-up"></i>
    </span>

      <span class="vote-count">{{track.vote_count}}</span>

      <span class="icon vote-null arrow-down"
            [ngClass]="{'voted-down' : track.my_vote == 'down', 'arrow-hover' : track.my_vote != 'down'}"
            (click)="downVote()">
      <i class="fa fa-chevron-down"></i>
    </span>
    </div>
  </div>

  <div class="container column track-description">
    <span class="track-name-container">
      <h3 class="no-margin track-name">{{track.name}}</h3>
    </span>
    <p class="no-margin">{{track.artists[0].name}}</p>
    <div *ngIf="!track.playlist_id" class="release-date">
      <span><i class="fa fa-calendar"></i></span>
      {{releaseDate()}}
    </div>
    <p *ngIf="track.added_by" class="added-by">{{track.added_by.name || track.added_by.spotify_id}}</p>
  </div>
  <div *ngIf="!track.playlist_id" class="content-center">
    <button pButton
            class="ui-button-success ui-button-rounded content-center-content"
            icon="fa fa-plus"
            (click)="trackChangeTrigger()">
    </button>
  </div>
  <div>
    <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
    <i class="fa fa-ellipsis-v menu-show-button" (click)="menu.toggle($event)"></i>
  </div>
</div>

<p-dialog *ngIf="track.playlist_id" header="{{track.name}}" [(visible)]="showInfo">
  <span class="bold">Added by:</span> {{track.added_by.name || track.added_by.spotify_id}}<br>
  <span class="bold">Up vote:</span> {{track.up_vote_count}}<br>
  <span class="bold">Down vote:</span> {{track.down_vote_count}}
</p-dialog>
