
<div class="container track-summary">
  <div>
    <img [src]="track.album.images[2].url" height="100%" width="72px">
  </div>

  <div class="arrows">
    <div *ngIf="track.playlist_id"  class="container column">
    <span class="icon vote-null arrow-up"
          [ngClass]="{'voted-up' : track.my_vote == 'up', 'arrow-hover' : track.my_vote != 'up'}"
          (click)="upVote()">
      <i class="fa fa-arrow-up"></i>
    </span>

      <span class="vote-count">{{track.vote_count}}</span>

      <span class="icon vote-null arrow-down"
            [ngClass]="{'voted-down' : track.my_vote == 'down', 'arrow-hover' : track.my_vote != 'down'}"
            (click)="downVote()">
      <i class="fa fa-arrow-down"></i>
    </span>
    </div>
  </div>

  <div class="container column track-description">
    <h2 class="no-margin">{{track.name}}</h2>
    <p class="no-margin">{{track.artists[0].name}}</p>
  </div>
</div>
