
<span *ngIf="playlist">
  <div class="playlist-header-container">
    <app-playlist-header [playlist]="playlist"></app-playlist-header>
  </div>
  <div id="track-finder-header">
    <app-track-finder *ngIf="showTrackFinder()" (trackSelected)='addTrack($event)'></app-track-finder>
  </div>
  <div class="container playlist-show-tracks-list">

  <app-tabs class="content-center-content">
    <app-tab [tabTitle]="'Submissions'">
     <div class="track-list">
          <div *ngFor="let track of playlist.tracks_submission">
            <app-track-summary [track]="track" [playlist]="playlist"></app-track-summary>
          </div>
        </div>
    </app-tab>
    <app-tab [tabTitle]="'Tracks'">
        <div class="track-list">
          <div *ngFor="let track of playlist.tracks">
            <app-track-summary [track]="track" [playlist]="playlist"></app-track-summary>
          </div>
        </div>
    </app-tab>
    <app-tab [tabTitle]="'Archived'">
        <div class="track-list">
          <div *ngFor="let track of playlist.tracks_archived">
            <app-track-summary [track]="track" [playlist]="playlist"></app-track-summary>
          </div>
        </div>
    </app-tab>
  </app-tabs>
  </div>
</span>
