<div class="playlist-header-container">
  <app-playlist-header [playlist]="playlist"></app-playlist-header>
</div>
<div id="bottom-header" class="container content-center">
  <div id="track-finder-header" class="content-center-content">
    <app-track-finder *ngIf="playlist && showTrackFinder()" (trackSelected)='addTrack($event)'></app-track-finder>
  </div>
  <div id="play-button-container">
    <button pButton
            id="play-button"
            class="ui-button-success"
            icon="fa fa-play"
            (click)="menu.toggle($event)"></button>
    <p-menu #menu [popup]="true" [model]="playMenuItem" appendTo="body"></p-menu>
  </div>
</div>

<span *ngIf="!playlist">
  <app-loading></app-loading>
</span>

<span *ngIf="playlist">
  <div class="container playlist-show-tracks-list">
  <app-tabs class="content-center-content">
    <app-tab [tabTitle]="'Submissions'">
     <div class="track-list">
          <div *ngFor="let track of playlist.tracks_submission">
            <app-track-summary [track]="track" [playlist]="playlist"></app-track-summary>
          </div>
        </div>
    </app-tab>
    <app-tab [tabTitle]="'Tracks'">
        <div class="track-list">
          <div *ngFor="let track of playlist.tracks">
            <app-track-summary [track]="track" [playlist]="playlist"></app-track-summary>
          </div>
        </div>
    </app-tab>
    <app-tab [tabTitle]="'Archived'">
        <div class="track-list">
          <div *ngFor="let track of playlist.tracks_archived">
            <app-track-summary [track]="track" [playlist]="playlist"></app-track-summary>
          </div>
        </div>
    </app-tab>
  </app-tabs>
</div>
</span>
