
.container {
  align-items: stretch;
  justify-content: space-around;
}

.track-list {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.playlist-show-tracks-list {
  margin-left: -1em;
  margin-right: -1em;
}
