
.container {
  align-items: stretch;
  justify-content: space-around;
}

.track-list {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.playlist-show-tracks-list {
  margin-left: -1.5em;
  margin-right: -1.5em;
  padding-top: 1em;
}

::ng-deep .ui-tabview-panels {
  padding: 0 !important;
  border: none !important;
  margin-right: 2.3em !important;
}

::ng-deep .ui-tabview-nav {
  padding-left: 1em !important;
}

#track-finder-header {
  margin-top: -3.5em;
}

.playlist-header-container {
  overflow: hidden;
  height: 11em;
  margin-right: -1.2em;
  margin-left: -1.2em;
}
