
.container {
  align-items: stretch;
  justify-content: space-around;
}

.track-list {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.playlist-show-tracks-list {
  margin-left: -1em;
  margin-right: -1em;
}

::ng-deep .ui-tabview-panels {
  padding: 0 !important;
  border: none !important;
  margin-right: 2.3em !important;
}

::ng-deep .ui-tabview-nav {
  padding-left: 1em !important;
}
