/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

body {
  margin-left: 1em;
  margin-right: 1em;
}

.container {
  display: flex;

  .column {
    flex-direction: column;
  }
}

.no-margin {
  margin: 0;
}

.spacer {
  flex: 1;
}

.content-center {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.content-center-content {
  margin-top: auto;
  margin-bottom: auto;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}
