/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Ruboto', sans-serif;
}

body {
  padding: 0 1em 1em;
  margin: 0;
}

.container {
  display: flex;

  .column {
    flex-direction: column;
  }
}

.no-margin {
  margin: 0;
}

.spacer {
  flex: 1;
}

.content-center {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.content-center-content {
  margin-top: auto;
  margin-bottom: auto;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.round-image {
  border-radius: 50%;
}

//primary #FF4E50
// secondary #ff0085
