#toolbar {
  justify-content: space-between;
  height: 2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  margin-left: -1em;
  margin-right: -1em;
  //background-color: #FF4E50;
  color: white;
  background-color: #ff4e50;
}

#toolbar-icon{
  width: 24px;
}

#icon-chevron {
  font-size: 1em;
}
