
<span *ngIf="isLoading">
  <app-loading></app-loading>
</span>

<div *ngIf="!isLoading" class="container column">
  <div>
    <h2>
      <a routerLink="/playlists">My Playlists</a>
    </h2>
    <app-playlist-list></app-playlist-list>
  </div>

  <div>
    <h2>
      <a routerLink="/subscriptions">Subscriptions</a>
    </h2>
    <app-subscriptions></app-subscriptions>
  </div>

  <div>
    <h2>
      <a routerLink="/explore">Explore</a>
    </h2>
    <app-explore></app-explore>
  </div>
</div>
