<app-toolbar></app-toolbar>

<span *ngIf="isLoading">
  <app-loading></app-loading>
</span>

<div *ngIf="!isLoading" class="container column">
  <div class="container my-playlist-container content-center">
    <h2 id="my-playlist-title"><a>My Playlists</a></h2>
    <a class="content-center-content" routerLink="/playlists/new">
      <span class="add-playlist-button"><i class="fa fa-plus"></i></span>
    </a>
  </div>
  <app-playlist-list></app-playlist-list>

  <div>
    <h2>
      <a>Subscriptions</a>
    </h2>
    <app-subscriptions></app-subscriptions>
  </div>

  <div>
    <h2>
      <a>Explore</a>
    </h2>
    <app-explore></app-explore>
  </div>
</div>
