#playlist-header-container {
  height: 7.8em;
  padding: 0.5em 0.6em 1em 1em;
}

#header-background {
  background-image: linear-gradient(#ff4e50 0%, #f9d423 100%);
}

.playlist-img {
  box-shadow: -9px 9px 20px -5px black;
}

.playlist-info {
  padding-left: 1em;
  color: white;
}

.playlist-creator {
  padding-top: 0.8em;
  font-size: 0.7em;
}

.playlist-description {
  padding-top: 0.1em;
  font-size: 0.9em;
}

#playlist-name {
  font-size: 1.5em;
  margin: 0 0 0.2em;
}
