<div id="playlist-header-container" class="container">
  <div>
    <img class="playlist-img" [src]="playlist.image_url || './assets/images/playlistPlaceholder.png'" height="100px" width="100px">
  </div>
  <div class="container column playlist-info spacer">
    <h2 id="playlist-name" class="no-margin">{{playlist.name}}</h2>
    <p class="no-margin playlist-description">{{playlist.description}}</p>
    <p class="no-margin playlist-creator">
      {{playlist.created_by.display_name || playlist.created_by.spotify_id}} · {{playlist.tracks_count}} · {{playlist.tracks_submission_count}}
      <br>
  </div>
  <div class="dot-menu">
    <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
    <i class="fa fa-ellipsis-v menu-show-button" (click)="menu.toggle($event)"></i>
  </div>
</div>
