#playlist-header-container {
  height: 7.4em;
  padding: 0.5em 0.6em 1em 1em;
}

#header-background {
  background-image: linear-gradient(#ff4e50 0%, #f9d423 100%);
}

.playlist-img {
  box-shadow: -9px 9px 20px -5px black;
}

.playlist-info {
  padding-left: 1em;
  color: white;
}

.playlist-creator {
  padding-top: 0.8em;
  font-size: 0.7em;
}

.playlist-description {
  padding-top: 0.1em;
  font-size: 0.9em;
}

#playlist-name {
  font-size: 1.5em;
  margin: 0 0 0.2em;
}

::ng-deep .ui-menu {
  text-align: left;
}

#toolbar {
  justify-content: space-between;
  height: 1.8em;
  padding: 0.4em;
  color: white;
}

#toolbar-icon{
  width: 24px;
}

#icon-chevron {
  font-size: 1em;
}

.dot-menu {
  font-size: 1.4em;
  width: 20px;
  padding-left: 10px;
  text-align: center;
}
