#playlist-header-container {
  height: 7.5em;
  //background-color: #ff0085;
  //background: rgb(255,0,133);
  //background: linear-gradient(180deg, rgba(255,0,133,1) 45%, rgba(255,255,255,1) 100%);
  background-image: linear-gradient(#4ab5a3 0%, #6080c1 80%);
  //border-bottom-left-radius: 2em;
  //border-bottom-right-radius: 2em;
  //box-shadow: 0px 1px 14px 0px black;
  padding: 0.4em 0.6em 1em 1em;
}

.playlist-img {
  box-shadow: -9px 9px 20px -5px black;
}

.playlist-info {
  padding-left: 1em;
  color: white;
}

.playlist-creator {
  padding-top: 0.8em;
  font-size: 0.6em;
}

.playlist-description {
  padding-top: 0.1em;
  font-size: 0.8em;
}

.dot-menu {
  color: white;
  font-size: 1.5em;
  width: 0.8em;
  text-align: center;
}

#playlist-name {
  font-size: 1.3em;
}

::ng-deep .ui-menu {
  text-align: left;
}
